/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 Oct, 2021, 11:32:20 PM
    Author     : USER
*/
.design_debit{
    position: absolute;
    left: 35%;
    border: 1px solid black;
    border-radius: 5px;
    width: 40%;
    padding: 15px 15px 15px 15px;
}
.l_debit{
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    float: right;
}
.line1{
    border: 1px solid black;
    background-color: black;
    position: relative;
    width: 100%;
}
