/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 24-Dec-2021, 4:57:30 PM
    Author     : suvankar
*/
.form{
    position: absolute;
    left: 45%;
    top: 30%;
}
.input{
    border: 1px solid black;
    padding: 10px 12px;
}
input[type=text], [type=password]{
    border: none;
    padding: 12px 16px;
    font-size: 15px;
}
input[type=submit]{
    border: none;
    cursor: pointer;
    color: white;
    background-color: green;
    padding: 16px 20px;
    font-size: 15px;
    border-radius: 5px;
}

