/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 Sep, 2021, 10:17:43 PM
    Author     : USER
*/
.details{
    position: absolute;
    top: 20%;
    font-size: 17px;
    font-family: monospace;
}
label{
    font-weight: bold;
    font-size: 20px;
}
#my_details td{
    padding: 5px 8px;
}

